@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,100;1,400&display=swap');
html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: grey;
}
#layout {
  margin: 5%;
}
